html,
body {
  display: flex;
  align-items: center;
  margin: 0;
  height: 100%;
  overflow: hidden;
  background-color: #161b19;
}

.missing-metamask {
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: 'Roboto', sans-serif;
  color: white;
  width: 100vw;
}

.font-small {
  font-size: 12px;
}

.font-large {
  font-size: 20px;
  font-weight: 700;
  color: hsl(229, 23%, 23%);
}

.small-title {
  font-size: 10px;
  letter-spacing: 2px;
  font-weight: 700;
  color: hsl(0, 0%, 59%);
  margin-top: 5px;
}

.medium-title {
  font-size: 12px;
  letter-spacing: 2px;
  font-weight: 700;
  color: hsl(0, 0%, 59%);
}

.flex {
  display: flex;
}

.flex-row-center {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.flex-column-center {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.flex-column {
  display: flex;
  flex-direction: column;
}

.mt-20 {
  margin-top: 20px;
}

.pt-40 {
  padding-top: 40px;
}

.p-20 {
  padding: 20px;
}
